In [3]:
import pandas as pd

In [ ]:
#My SID: 2338212
#so n=2

In [5]:
data = {
    'relationship': ['Husband', 'Wife', 'Husband', 'Not-in-family', 'Own-child', 'Unmarried'],
    'hours-per-week': [40, 20, 50, 30, 15, 45]
}

In [7]:
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
    relationship  hours-per-week
0        Husband              40
1           Wife              20
2        Husband              50
3  Not-in-family              30
4      Own-child              15
5      Unmarried              45

In [9]:
n = 2

In [11]:
grouped_original = df.groupby(['relationship', 'hours-per-week']).size().reset_index(name='count')
print("\nGrouped by 'relationship' and 'hours-per-week':")
print(grouped_original)

Grouped by 'relationship' and 'hours-per-week':
    relationship  hours-per-week  count
0        Husband              40      1
1        Husband              50      1
2  Not-in-family              30      1
3      Own-child              15      1
4      Unmarried              45      1
5           Wife              20      1

In [13]:
def reduce_hours(row):
    return row - n

In [15]:
df['reduced-hours-per-week'] = df['hours-per-week'].apply(reduce_hours)

In [17]:
grouped_reduced = df.groupby(['relationship', 'reduced-hours-per-week']).size().reset_index(name='count')

In [19]:
print("\nGrouped by 'relationship' and 'reduced-hours-per-week':")

Grouped by 'relationship' and 'reduced-hours-per-week':

In [21]:
print(grouped_reduced)

    relationship  reduced-hours-per-week  count
0        Husband                      38      1
1        Husband                      48      1
2  Not-in-family                      28      1
3      Own-child                      13      1
4      Unmarried                      43      1
5           Wife                      18      1